* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background: rgba(1, 32, 23, 0.8);
    background: linear-gradient(90deg,rgb(34,90,87) 0%, rgb(rgb(78,23,61)) 0%, rgb(45,51,46) 100%);
    width: 100%;
    height: 100vh;
}

.button {
    background-color: none;
    padding: 10px;
    border: none;
    background-color: cyan;
    color: black;
    font-weight: 700;
    font-size: .8em;
    /* margin-right:10px ; */
    border: 2px solid rgb(66, 75, 2) linear-gradient(90deg, rgb(43, 90, 134) 0%, rgb(23, 125, 220) 0%, rgb(3, 200, 240) 100%);
}

.listbtn {
    float: right;
    padding-right: 10px;

}

.test {
    color:white;
}

.listbtn button {
    margin-left: 10px;
    border: none;
    font-size: 1.3em;
    color: white;
    margin-left: 15px;
}

.inp {
    padding: 10px;
    width: 275px;
    height: 25px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
}

.backgroundcolor {
    background-color: rgba(1, 32, 23, 0.8);
    border-radius: 30px;
    padding: 10px;
    width: 400px;
}

li {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 200;
    font-size: 1.1em;
    color: cyan;
    border-bottom: 2px solid black;
}

.text {
    text-align: center;
    color: lightcyan;
    padding: 10px;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    
}

@media only screen and (max-width:375px) {
    .inp {
        margin: 5px;
        width: 245px;
    }
}